.ant-layout .ant-layout-sider {
    background: #FBFBFB;
}

.ant-layout-sider-children {
    width: inherit;
    position: fixed;
    background: #FBFBFB;
}

.ant-layout .ant-layout-sider-trigger {
    background: #EEEEEE;
    color: black;
    margin-left: -2px;
}

.menu {
    min-height: 100vh;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.2);
    margin-right: 1px;
    font-size: 18px;
    padding: 25px 15px;
    background: #FBFBFB;
}

.menu svg {
    min-width: 25px;
}

.ant-menu-light {
    background-color: transparent;
}

.ant-menu-light.ant-menu-root.ant-menu-inline, .ant-menu-light.ant-menu-root.ant-menu-vertical {
    border-inline-end: none;
}

.ant-menu-light .ant-menu-item {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.ant-menu-light .ant-menu-item-selected {
    color: white;
    background-color: black;
}

.ant-menu-inline .ant-menu-submenu {
    font-size: 15px;
    margin-bottom: 30px;
}

.ant-menu-inline.ant-menu-root .ant-menu-submenu-title >.ant-menu-title-content {
    font-weight: 700;
    font-size: 17px;
}

/*.ant-menu-inline-collapsed >.ant-menu-item {*/
/*    padding-inline: 18px!important;*/
/*}*/
/**/
/*.ant-menu-inline-collapsed >.ant-menu-item:nth-child(2) {*/
/*    padding-inline: 9px!important;*/
/*}*/


