.form-item {
    margin-bottom: 40px;
}

.form-item__label {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 500;
}

.form-item .ant-radio-wrapper {
    display: flex;
    align-items: center;
}

.form-item .radio-content span {
    margin-top: 10px;
    font-size: 16px;
}

.form-item .ant-radio-inner {
    width: 20px;
    height: 20px;
}

.form-item .ant-radio-inner::after {
    transform: scale(0.55)!important;
}
